.favoritos {
    font-size: 30px;
    text-align: center;
}

.no-favoritos {
    font-size: 20px;
    text-align: center;
}

.cards {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

@media (min-width: 768px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}