.backForm {
    height: 100vh;
    background-image: url(../../images/rick-and-morty-cool-background-t3ynu5ly9m7jq6e2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.boxForm {
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    filter: blur(5px);
    background-color: rgba(21, 255, 0, 0.219);
    border-radius: 100%;
    box-shadow: 15px 11px 25px 2px rgba(0,0,0,0.69) inset;
    -webkit-box-shadow: 15px 11px 25px 2px rgba(0,0,0,0.69) inset;
    -moz-box-shadow: 15px 11px 25px 2px rgba(0,0,0,0.69) inset;
}

.form {
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inputStyle {
    background-color: rgba(21, 255, 0, 0.219);
    border: 0;
}

.inputStyle::placeholder {
    color: rgba(0, 0, 0, 0.726);
}

.submitStyle {
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 100%;
    background-color: rgba(21, 255, 0, 0.219);
    
}

p {
    margin: 10px;
}